:root{
    --BoxS: rgba(59, 59, 59, 0.4);
    --Result: rgb(202, 202, 221);
}
body{
    margin: 0px;
}
.calculator{
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    background: rgb(221, 221, 221);
    box-shadow: 0 10px 30px var(--BoxS);
}

.result{
    background-color: var(--Result);
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 20px;
    min-height: 50px;

    font-size: 3em;
    align-content: flex-end;
    overflow: auto;
    overflow-wrap: anywhere;
}

.buttons{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.numeros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.operations{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

button{
    font-size: 1em;
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(102, 102, 102);
    background: rgb(255, 255, 255);
}

button:hover{
    animation: changeColor 0.3s;
    background: rgb(61, 42, 129);
    transform: scale(1.2);
    text-align: center;
}

.operations button {
    background: #ff9500;
    color: #000;
    font-weight: bold;
}

@keyframes changeColor{
    0% {transform: scale(1.0)}
    100% {transform: scale(1.2)}
}
header{
    background-color: #ff9500;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}
footer{
    text-align: center;
}
